.landing{
    display: flex;
    // background-color: #082B84;

    .image{
        

        img{
            width: 1086.96px;
            height: 800px;
            display: block;
           
        }
    }
    

    .sign-in{
        background-color: #F3F7FC;
        width: 30%;
        height: 800px;
        
    }

}

