.filter {
    border-radius: 5px;
    border: 2px solid #37C6F3;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    width: 200px;
    position: absolute;
    z-index: 4;
    top: 25px;
    right: 50px;
}


.pump-type {
    display: flex;
    align-items: center;
    justify-content: space-between

}

p {
     margin-right: 20px;
 }