.hamburger-menu {
  margin: 30px;
  position: absolute;
  z-index: 1;
  display: none;

  span {
    background-color: #082b84;
    width: 30px;
    height: 5px;
    display: block;
    margin-bottom: 5px;
  }
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  // background-color: #082B84;
  background-color: #082b84;
  overflow-x: hidden;
  transition: 0.5s;
  display: none;

  .closebtn {
    position: relative;
    top: -20px;
    right: -170px;
    font-size: 30px;
    color: #818181;
  }

  .intro {
    background-color: #082b84;
    width: 214px;
    height: 725px;
    color: #ffffff;
    position: absolute;
    // padding: 30px;

    .name {
      font-size: 16px;
      margin-left: 20px;
    }

    .email-address {
      font-size: 12px;
      margin-left: 20px;
    }

    .span {
      background-color: rgba(255, 255, 255, 0.8);
      display: block;
      width: 214px;
      height: 1px;
    }

    .logo {
      // width: 80%;
      margin: 21px 0px 29px 0px;
      width: 15%;
      height: auto;
    }
  }

  .overlay-content-map {
    position: relative;
    top: 18%;
    width: 100%;
    text-align: left;
    // margin-top: 30px;
    color: white;
    //   padding-left: 30px;
    //   margin: 0px;
    //   margin-left: 10px;

    //   a:hover {
    //       // background-color: rgba(48, 155, 242, 0.637);
    //       // width: 194px;
    //       // height: 30px;
    //     //   color:#818181;

    //   }

    .eachNav {
      display: flex;
      //   align-items: center;
      //   align-self: flex-end;
      justify-items: space-evenly;
      width: 100%;
      padding-left: 30px;
      align-items: center;
      //   margin-left: 10px;
    }
    .eachNav:hover {
      background-color: #0db4e9;
      color: white;
    }
  }

  a {
    padding: 16px 0 16px 8px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    margin-top: 0px;
    // text-align: center;

    //   :hover, :focus {
    //       color: white;

    //     }
  }
}
