@import "colors";


.accountBody {
  width: 97.5%;
  @include border;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5%;
  box-shadow: 2px 1px 10px;
}

.accountHeader {
  display: flex;
  justify-content: space-between;
  @include background;
  padding-left: 2%;
  padding-right: 2%;
  height: auto;

  h1 {
    color: white;
    padding-right: 5rem;
    padding-left: 1rem;
  }
}
