@import "src/colors";


.accountBody {
  width: 97.5%;
  @include grid-border;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5%;
  box-shadow: 2px 1px 10px;
}

.accountHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include grid-background;
  padding-left: 2%;
  padding-right: 2%;
  height: auto;

  h1 {
    @include header-text;
    padding-right: 5rem;
    padding-left: 1rem;
  }
  .searchAccounts{
    border: none;
    height: 30px;
    border-radius: 8px;
    font-size: 0.89rem;
}

}
