@import 'src/colors';

.dashboard {
  .mapSearchFilterContainer {
  }
}

.orgActPumps {
  display: flex;
  justify-content: space-around;
  // margin-top:5rem;
  // margin-bottom: 5rem;

  @media screen and (max-width: 1000px) {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.innerMapFlex {
  display: flex;
  justify-content: center;
  width: 96%;
  margin-bottom: 5rem;
}

.dash-mob {
  display: none;
  @media (max-width: 800px) {
    display: inherit;
  }
}

.filterContainer {
  position: fixed;
  top: 80%;
  right: 3%;
}
.banner-container {
  width: 100%;
  height: 15rem;
  // margin-bottom:5rem;
  @include navbar-bg;
}
.header {
  @include banner-text;
}
.title {
  color: white;
  font-size: 5rem;
  font-weight: 350;
  padding-left: 2.8rem;
}
