
$paleCBlue:#ACCDFF;

@mixin defaultColor{
    background-color:$paleCBlue;
  }


.orgGridBody {
  width: 97.5%;
  border: 2px solid $paleCBlue;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5%;
  box-shadow: 2px 1px 10px;
}
.orgGridHeader {
  @include defaultColor;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  height: auto;

  .searchAccounts{
      border: none;
      height: 30px;
      padding: 0.8rem 1.4rem;
      border-radius: 8px;
      font-size: 0.89rem;
  }

  h1 {
    color: white;
  }
  .orgHeaderButton {
    @include defaultColor;
    color: white;
    border: none;
  }
}
