@import 'src/colors';

.orgGridBody {
  @include grid-background;
  width: 97.5%;
  @include grid-border;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5%;
  box-shadow: 2px 1px 10px;
}
.orgGridHeader {
  @include grid-background;
  display: flex;
  align-items: center;
  h1 {
    @include header-text;
    padding-right: 5rem;
    padding-left: 1rem;
    margin-bottom:.5%;
    margin-top:.5%;
    
  }

  .searchAccounts {
    border: none;
    height: 3rem;
    width: 26rem;
    padding: 0.8rem 1.4rem;
    border-radius: 8px;
    font-size: 0.89rem;
    margin-left: 10%;
  }
  .inputContainer {
    display: flex;
  }

  .orgHeaderButton {
    @include grid-background;
    @include header-text;
  }
}
