.pumpCon {
  display: flex;
  justify-content: space-around;
  margin: 0.5rem;

  .pumpChart {
    width: 47%;
    box-shadow: 0px 5px 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    .pumpHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0.25rem 0.6rem;
      background-color: #090c9b;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

      .pumpHeaderButton {
        background-color: #090c9b;
        color: white;
        border: none;
      }

      .pumpHeaderName {
        color: white;
      }
    }
  }
}

.ag-theme-balham {
  color: dimgray;
  font-weight: bold;
  align-content: center;
  padding: 20;
}

.ag-tooltip {
  background-color: black;
  color: #999eab;
  border-radius: 2px;
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #545454;
}
