@import "src/colors";
.senModalWrap{
    display: flex;
    background: $mainBackground;
    margin: 0 auto;
    padding: 2%;
    border-radius: 8px;
    width: 60%;

    .modalHeader{
        @include header-text;
    }
    .locationModal{
        display: flex;
    flex-direction: column;
    margin:5%;

    .senInput{
        margin: 5%;
        input{
          @include globalInputStyle;
        }
    }
    }
    .senModal1{
        display: flex;
    flex-direction: column;
    margin:5%;

    .senInput{
        margin: 5%;
    }
    }

    .senModal2{
        display: flex;
    flex-direction: column;
    margin:5%;

    .senInput{
        margin: 5%;
    }
    }
}