@import 'src/colors';

.sensorChart {
  width: 48%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16), 0px 0px 4px rgba(0, 0, 0, 0.08);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  .sensorHeader {
    display: flex;
    align-items: center;

    @include grid-background;

    .sensorHeaderName {
      h1 {
        @include header-text;
      }
    }

    .searchInsensors {
      border: none;
      height: 3rem;
      width: 26rem;
      padding: 0.8rem 1.4rem;
      border-radius: 8px;
      font-size: 0.89rem;
      margin-left: 10%;
    }

    .headerBtns {
      display: flex;
      justify-content: flex-end;
      width: 50%;
      margin-right: 2rem;

      .deleteBtn {
        border: none;
        background: #accdff;
        font-size: 2.5rem;
        width: 10%;
        margin-right: 1rem;
      }

      .downloadButton {
        width: 10%;
        margin-right: 1rem;
      }

      .modalHeader {
        display: flex;
        justify-content: center;
        width: 10%;

        .addSensor {
          font-size: 1.5rem;
          border: none;
          background: #accdff;
        }
      }
    }
  }
}

.ag-theme-balham {
  color: #202020;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  letter-spacing: 0.6px;
  line-height: 19px;
  align-content: center;
  font-size: 0.7rem;
}

.btnCon {
  .btn-info {
    @include view-onGrid;
    background: none;
    border: none;
  }
}

.searchIcon {
  position: relative;
  border: none;
  font-size: 24px;
  right: 28px;
  top: 0px;
  background: transparent;
}
.searchContainer {
  display: flex;
}
.dwnbutton {
  background: transparent;
  border: none;
}

.classes.paper {
  border: 20px solid red;
}

.modCon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .modBtns {
    display: flex;
    justify-content: space-around;
    align-items: space-between;
    margin-top: 20%;
    width: 70%;

    .confirmBtn {
      border: none;
      background: red;
      color: white;
      height: 30px;
      border-radius: 5px;
      height: 40px;
      width: 100px;
    }

    .closeBtn {
      border: none;
      color: #090c9b;
      height: 30px;
      border-radius: 5px;
      height: 40px;
      width: 100px;
    }
  }
}

.addBtn {
  background: transparent;
  border: none;
}
