@import 'src/colors';

.monitorContainer {
  display: flex;
  padding-top: 5rem;
  background: $duke;
  height: 35rem;
}


 .cardsContainer{
  display: flex;
  width: 63%;
  height: 35vh;

 }

.percentContainer{
width:33%;
// height:50px;
}

// .chartjs-render-monitor{
 
//  width:80% !important;
// }
.pieChart{
  width:100%;

}
.statusContainer{
  display: flex;
  // justify-content: space-between;
  width:90%;
  align-items: center;
  padding-bottom: 2rem;

}
.monitorCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center ;
  height:8rem;
  text-align: center;
  color:#fff;
  background: #ACCDFF;
  width:20rem;
  line-height: 10px;
  font-size: 1.8rem;
  border-radius: 6px;
  font-weight: bold;



  h2{
     font-size: 1.8rem;
     line-height: 18px;
     font-weight: bold;

   }
  p{
    color: black;
    line-height: 18px;
    font-weight: bold;


    }
  
}

.functioningCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:20rem;
  height:8rem;
  background: #23D322;
  text-align: center;
  margin-left:1.8rem;
  color:#fff;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 8px;
  padding:20px;
  border-radius: 6px;


 h4{
    color:#fff;
    font-size: 1.6rem;
    line-height: 8px;
}


}
.nonfunctioningCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FA0707;
  height:8rem;
  width:20rem;
  text-align: center;
  margin-left:1.8rem;
  color:#fff;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 8px;
  border-radius: 6px;




  h4{
    color:#fff;
    font-size: 1.6rem;
    line-height: 8px;

  }

}

.noDataCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FFAD34;
  height:8rem;
  width:20rem;
  text-align: center;
  margin-left:1.8rem;
  color:#fff;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 8px;
  border-radius: 6px;



  h4{
    color:#fff;
    font-size: 16px;
    line-height: 8px;

  }

}
.sensorTable{
  width:100%;
}