@import "src/colors";
.popupInfo {
    display: flex;
    margin: 5px;
    align-items: flex-start;
    width: 240px;

    .pump_id {
        width: 150px;

        .nonFunc-back-icon {
            display: flex; 
            justify-content: center;
            align-items: center;
            background-color: #FECDCD;
            height: 30px;
            width: 30px;
            border-radius: 50%;
    
            .nonFunc-front-icon {
                color: #f44336;
                font-size: 17px;
            }
        }
    
        .unknown-back-icon {
            display: flex; 
            justify-content: center;
            align-items: center;
            background-color: #ffe2b8;
            height: 30px;
            width: 30px;
            border-radius: 50%;
    
            .unknown-front-icon {
                color: #FFAD34;
                font-size: 17px;
            }
        }
    
    
        .func-back-icon {
            display: flex; 
            justify-content: center;
            align-items: center;
            background-color: #B8FFB8;
            height: 30px;
            width: 30px;
            border-radius: 50%;
    
            .func-front-icon {
                color: #01c000;
                font-size: 17px;
            }
        }
        
        
        
        .pump_num {
            font-weight: bold;
            font-size: 16px;
            color:rgba(0, 0, 0, 0.87);
            margin-left:-2px;
            margin-top:1px;
        }
    }

    

    .pump_info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;


        .spread {
            display: flex;
            position: relative;
    
            .spread-green {
                background-color: #01c000;
                border-radius: 5px;
                height: 16px;
                width: 6px;
                margin: 1px;
                padding-right: 0.1px;
            
            }
    
            .spread-yellow {
                background-color: #FFAD34;
                border-radius: 5px;
                height: 16px;
                width: 6px;
                margin: 1px;
                padding-right: 0.1px;
            }
    
            .spread-red {
                background-color: #f44336;
                border-radius: 5px;
                height: 16px;
                width: 6px;
                margin: 1px;
                padding-right: 0.1px;
            }
        }

     

        .province_name {
            font-size: 14px;
            
           
        }
        .district_name{
           
            width:150px;
            text-align: right;
            font-size: 16px;
            margin:0px;
            margin-top:5px;
            
           
          
        }

        .link {
            color: blue;
            font-size: 12px;
            text-decoration: underline;
            text-decoration-color: blue;
            margin: 10px 0px 0px 0px;
        }


    }

    .details_btn{
        background: $buttonBlue;
        border-radius: 2px;
        color:white;
        border-radius: 2px;
        margin-top:5px;
    }
    .triangle-red{
        
        position: absolute;
        top:-15px;
        right:23.5rem;
       
        width:0;
        height: 0;
        border-top: 20px solid red;
        border-right: 20px solid transparent;

    }
    .triangle-yellow{
        position: absolute;
        top:-15px;
        right:23.5rem;
       
        width:0;
        height: 0;
        border-top: 20px solid #FFAD34;
        border-right: 20px solid transparent;
    }
    .triangle-green{
        position: absolute;
        top:-15px;
        right:23.5rem;
       
        width:0;
        height: 0;
        border-top: 20px solid #01c000;
        border-right: 20px solid transparent;
    }
}

