.dashBoard {
  position: relative;
}

.orgActPumps {
  display: flex;
  justify-content: space-around;
  margin: 0.5rem;
}

.innerMapFlex {
  display: flex;
  justify-content: center;
  width: 97%;
}

.mapSearchFilterContainer {
  border: 2px solid red;
  height: 400px;

}
.dash-mob {
  display: none;
  @media (max-width: 800px) {
    display: inherit;
  }
}
