#creating{
    padding:20rem
}

.button-Operator {
    background-color: blue;
    color: white;
    padding: 16px 20px;
     border: none;
    cursor: pointer;
     opacity: 0.8;
    left: 10rem;
    right: 28px;
    width: 280px;
  }

#popDiv {
    display: none;
}

.popBox-container{
    // display:'none';
    border-radius: 5%;
    background: whitesmoke;
    width: 38%;
    height: 40vh;
    margin: auto; //centers container
    padding: 2rem;

    .topCreate{
        display:flex;
        justify-content: space-between;

        button{
            border-radius:50%;
        }

    }

    @media screen {
        
    }
    h1{
        margin-left: 2rem;
    }
    .popBox{
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
    

        .type{
            width: 50%;
            margin-bottom: 3vh;

            input{
                width: 80%;
            }

        }
        .CreateAccount{
            display: flex;
            justify-content: flex-end;
            button{
                background:blue;
                height:2.5rem;
            }
    }
}   
}