.AccountContainer{
    align-content: center;
    margin: auto;
    

.gridHeader{
    background: blue;
    display: flex;

    h1{
        margin:auto;
        margin-left:2rem;
    }

    button{
        margin:auto;
        margin-right:0;
        height: 100%;
        background:blue;
        font-size: large;
    }
    
}
}