@import "src/colors";
.button {
  height: 100%;
  font-size: large;
}
.modalBody {
  background: $mainBackground;
  display: flex;
  margin: 0 auto;
  padding: 2%;
  border-radius: 8px;
  width: min-content;
  height: auto;
  flex-direction: column;
}

.col1 {
  p {
    margin-bottom: 0.2em;
  }
  h3 {
    margin-bottom: 0;
  }
  input {
    display: inline-block;
    height: 40%;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
    border-radius: 5px;
  }
}
.col2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;

  padding-top: 37%;
  justify-content: space-around;
  margin-top:14%;

}
.createAcct {
  @include saveButton;
}
.cancelButton {
  border: none;
  background: none;
  font-size: medium;
  color: $duke;
  margin-right: 6%;
  font-weight: 700;
}
