@import 'src/colors';

.accountBody {
  width: 97.5%;
  @include grid-border;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  box-shadow: 2px 1px 10px;
  border: none;
}

.accountHeader {
  @include grid-background;
  display: flex;
  justify-content: space-between;

  h1 {
    @include header-text;
    margin: 1%;
  }

  .headerBtns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 65.5%;
    margin-right: 1%;

    #deleteBtn {
      border: none;
      background: transparent;
      min-width: 6rem;
      min-height: 6rem;
      &:focus {
        outline: none;
      }

      @media screen and (max-width: 1000px) {
        margin-right: 1rem;
      }
    }

    #modalHeaderAccount {
      display: flex;
      justify-content: center;

      .addAccount {
        border: none;
        background: transparent;

        &:focus {
          outline: none;
        }
      }
    }
  }
}

.downloadButton {
  margin: 0;
  min-width: 4rem;
  background: transparent;
  border: none;
  &:focus {
    outline: none;
  }
}

.searchIcons {
  position: relative;
  border: none;
  font-size: 24px;
  right: 28px;
  bottom: 5px;
  background: transparent;
}

.modal {
  position: relative;
  width: 0px;
  border: none;
  background: transparent;
}
.searchAccounts {
  border: none;
  width: 35rem;
  border-radius: 3px;
  font-size: 1rem !important;
  height: 2.8rem !important;
}
.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  min-width: 0;

  @media screen and (max-width: 1000px) {
    width: 55%;
  }
}
