@import "src/colors";

 .react-calendar-heatmap text {
    font-size: 10px;
    fill: #aaa;
  }
  
  .react-calendar-heatmap .react-calendar-heatmap-small-text {
    font-size: 5px;
  }
  
  .react-calendar-heatmap rect:hover {
    stroke: #555;
    stroke-width: 1px;
  }
  
 
  
  .react-calendar-heatmap .color-empty {
    fill: $mainBackground;
  }
  
  .react-calendar-heatmap .color-filled {
    fill: $duke;
  }
 
  
  .react-calendar-heatmap .color-github-0 {
    fill: $mainBackground;
  }
  .react-calendar-heatmap .color-github-1 {
    fill: $iconBackground;
  }
  .react-calendar-heatmap .color-github-2 {
    fill: $vLBlue;
  }
  .react-calendar-heatmap .color-github-3 {
    fill: $duke;
  }
  .react-calendar-heatmap .color-github-4 {
    fill: $oxford;
  }
  
  /*
   * Gitlab color scale
   */
  
  .react-calendar-heatmap .color-gitlab-0 {
    fill: #ededed;
  }
  .react-calendar-heatmap .color-gitlab-1 {
    fill: #acd5f2;
  }
  .react-calendar-heatmap .color-gitlab-2 {
    fill: #7fa8d1;
  }
  .react-calendar-heatmap .color-gitlab-3 {
    fill: #49729b;
  }
  .react-calendar-heatmap .color-gitlab-4 {
    fill: #254e77;
  }