@import 'src/colors';

.orgGridBody {
  width: 97.5%;
  @include grid-border;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 1px 10px;
  border: none;
}
.orgGridHeader {
  @include grid-background;
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
  h1 {
    @include header-text;
    margin: 1%;
  }

  .headerBtns {
    display: flex;
    margin-right: 1%;
    width: 65.5%;
    justify-content: flex-end;

    .deleteBtn {
      border: none;
      background: transparent;
      &:focus {
        outline: none;
      }
    }

    .downloadButton {
      background: transparent;
      border: none;
      &:focus {
        outline: none;
      }
    }

    .modalHeaderOrg {
      display: flex;
      align-items: center;
      &:focus {
        outline: none;
      }
    }
  }
  .downloadButton {
    background: transparent;
    border: none;
    margin: 0;
    min-width: 4rem;
  }

  .searchAccounts {
    border: none;
    height: 3rem;
    width: 35rem;
    border-radius: 3px;
    font-size: 1rem;
  }
  .inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    min-width: 0;

    @media screen and (max-width: 1000px) {
      width: 55%;
    }
  }

  .orgHeaderButton {
    @include grid-background;
    @include header-text;
  }
}

.addOrg {
  border: none;
  background: transparent;
  &:focus {
    outline: none;
  }

  @media screen and (max-width: 1600px) {
    // margin-left: -1.7rem;
  }
}



