@import "src/colors";
.pump-details {
    
    .data {
        display: flex;
        // justify-content: space-around;
        
        .details {
            display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: center;
            margin: 30px;
        }
    }
}




