@import 'src/colors';

html {
  font-size: 62.5%;
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  // background-color: #d5d6e9;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // @include body-background;
}
* {
  scrollbar-width: thin;
  scrollbar-color: $duke $mainBackground;
}
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: #f0f0f0;
}
*::-webkit-scrollbar-thumb {
  background-color: $wellDoneBlue;
  border-radius: 10px;
  border: 3px solid $wellDoneBlue;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;

  .app-container {
    margin: 0 auto;
    width: auto;
    height: 100%;
  }
}
