// html,
// body {
//   margin: 0;

.entire-menu {
  // position: absolute;
  width: 15rem;
  height: 100%;
  border: 3px solid purple;
  background: #082b84;
  color: white;
  // margin-top: 0%;
  // margin-bottom: 0%;
  // padding: 0;
  .logo {
    width: 80%;
    margin: 20px 0px 20px 20px;
    width: 170.81px;
    height: 35.61px;
  }
  .name {
    font-size: 16px;
    margin-left: 40px;
  }

  .email-address {
    font-size: 12px;
    margin-left: 40px;
  }

  span {
    background-color: rgba(255, 255, 255, 0.8);
    display: block;
    width: 100%;
    height: 1px;
  }

  .overlay-content {
    // border: 1px solid red;
    position: fixed;
    margin-top: 3%;
    // width: 100%;
    // margin-top: 30px;
    // margin-left: 30px;
    .each-nav {
      position: relative;
      color: white;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      // margin-top: 1.5rem;
      .link {
        color: white;
        // margin-left: 0.5rem;
      }
      .link:hover {
        color: #027ef3;
        // margin-left: 0.5rem;
      }
    }
  }
}
