@import 'src/colors';

.monitorContainer {
  display: flex;
  background: $duke;
  
 
}


.cardsContainer{

}
.percentContainer{
width:36%;
height:500px;
}
// .insidePie{
//   width:300%
// }
.chartjs-render-monitor{
 
 height:30rem !important;
 width:55rem !important;
}

.statusContainer{
  display: flex;
}
.monitorCard{
  border:5px solid red;

  height:2rem;
}